html {
    background-color: #0E0E0E;
}

#nav-container {
    margin-left: 10rem;
    margin-right: 10rem;

};

#sales {
    background-color: red !important;
}

.nav-link.active::before{
    content: "V ";
    color: #FF0036;
    font-weight: 700;
}